@tailwind base;
@tailwind components;
@tailwind utilities;

.warning-banner {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.warning-banner::after, .warning-banner::before {
  content: "⚠️";
}